

$gray: #ccc;

$red: #F55D3E;
$yellow: #F7CB15;
$blue: #76BED0;

$icon-size: 40px;


.object-icon {
  height: $icon-size;
  width: $icon-size;
}

.color-swatch {
  height: 20px;
  width: 20px;
  border: 2px solid #000;
}

.anticon.anticon-check {
  color: $blue;
}

.anticon.anticon-close {
  color: rgba($red, 0.5);
}

@import "./Styles/Tooltip.scss";
